<!DOCTYPE html>
<html lang="en" class="vh-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OatBoySystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OatBoySystem.styles.css" asp-append-version="true" />
</head>

<body class="full">

        <main role="main no-scroll full">
            @RenderBody()
        </main>
        <footer class="text-muted footer mb-2">
            <div class="d-flex justify-content-around align-items-center">
                <button class="btn btn-primary" href="">Orders</button>
                <a class="btn btn-secondary" asp-action="Dashboard" asp-controller="Inventory">Inventory</a>
                <button class="btn btn-primary" href="">Packing</button>
                <button class="btn btn-primary" href="">Baking</button>
                <button class="btn btn-primary" href="">Recipes</button>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
