@model RecipeAddIngredient

<form asp-action="RecipeAddIngredient" asp-controller="Bakery"  asp-route-rId="@Model.RecipeId" method="Post" class="d-flex justify-content-center align-items-center gap-2 w-100 flex-wrap">
    <select asp-for="BakingMaterialId">
        @foreach (BakingMaterial bm in Model.Unassociated)
        {
            <option value="@bm.BakingMaterialId">@bm.Name (@bm.UnitOfMeasure.ToUpper())</option>
        }
    </select>
    <input asp-for="Quantity">
    <p><span asp-validation-for="Quantity" class="text-danger"></span></p>
    <button class="btn btn-primary">Submit</button>
</form>