html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  max-height: 100svh;
}

.full {
  height: 100svh;
  min-height: 100svh;
}

.vh-25 {
  height: 25svh;
}

.no-scroll {
  overflow-y: hidden;
}

.scroll {
  overflow-y: scroll;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}